---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import ChapterOnMain from "../components/ChapterOnMain.astro";
import { Image } from "astro:assets";

const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle="Главная" header>
  <div class="flex justify-center my-32">
    <p class="text-center text-3xl font-bold w-full sm:w-2/3">
      Небольшой базовый контент типа "Хочешь ли ты погрузиться и узнать иторию
      программистов"
    </p>
  </div>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 md:px-20">
    {
      allPosts.map((post) => (
        <ChapterOnMain
          image={post.data.cover}
          title={post.data.title}
          desc={post.data.desc}
          link={"/posts/" + post.slug}
        />
      ))
    }
  </div>
</BaseLayout>
