---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import ChapterOnMain from "../components/ChapterOnMain.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle="Главная" header>
  <div class="flex justify-center md:my-32 mt-8 mb-12">
    <p class="text-center text-2xl font-bold w-full sm:w-2/3">
      Начнем увлекательное путешествие туда, где начался уникальный путь развития технологий и творческого мышления, положивший фундамент для современного программировани.
    </p>
  </div>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 md:px-20">
    {
      allPosts.map((post) => (
        <ChapterOnMain
          image={post.data.cover}
          title={post.data.title}
          desc={post.data.desc}
          link={"/posts/" + post.slug}
        />
      ))
    }
  </div>
</BaseLayout>
