---
const platform = "github";
const username = "withastro";
---

<footer
  class="footer footer-center p-10 bg-base-300 text-content mt-auto"
>
  <aside>
    <p class="font-bold">
      Новосибирский авиационный технический колледж.
      <br />
    </p>
    <p>© 2023 - Все права соблюдены</p>
  </aside>
</footer>
