---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<div class="w-full flex flex-col text-center justify-center">
  <div class="self-end mt-12 mr-12 sm:ml-auto">
    <ThemeSwitcher />
  </div>
  <h1
    class="text-3xl text-accent-focus font-black sm:text-5xl mt-2 navbar-center"
  >
    История Программирования Online
  </h1>
</div>
