---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div>
    <p>Написал {frontmatter.author}</p>
    <p>Дата публикации: {frontmatter.pubDate}</p>
    <h1 class="text-2xl font-bold my-4">{frontmatter.title}</h1>
    <slot />
  </div>
</BaseLayout>
