---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div>
    <p>Написал {frontmatter.author}</p>
    <slot />
  </div>
</BaseLayout>
